## Task 1:

In [1]:
x = 2 
y = 3
print('x =', x)

x = 2

In [2]:
print('Value of', x, '+', x, 'is', (x+x))

Value of 2 + 2 is 4

In [3]:
print('x=')

x=

In [4]:
print((x+y), '=', (y+x))

5 = 5

## Task 2:

In [22]:
number = int(input('Input a number between 1 to 10: '))
square = number* number
print(' the square of the number is:', square)

Input a number between 1 to 10: 6
 the square of the number is: 36

## Task 3:

In [85]:
x = [-5,0,5,7.5]
y = 2
z = len(x)
for a in range(z):
    x[a] = x[a] + y
print(x)

[-3, 2, 7, 9.5]

In [86]:
x = [-5,0,5,7.5]
y = 2
z = len(x)
for a in range(z):
    x[a] = x[a] - y
print(x)

[-7, -2, 3, 5.5]

In [87]:
x = [-5,0,5,7.5]
y = 2
z = len(x)
for a in range(z):
    x[a] = x[a] * y
print(x)

[-10, 0, 10, 15.0]

In [88]:
x = [-5,0,5,7.5]
y = 2
z = len(x)
for a in range(z):
    x[a] = x[a] / y
print(x)

[-2.5, 0.0, 2.5, 3.75]

In [89]:
x = [-5,0,5,7.5]
y = 2
z = len(x)
for a in range(z):
     x[a]= x[a] // y
print(x)

[-3, 0, 2, 3.0]

## Task 4:

In [119]:
print('The number of eggs are placed in the last uncompleted box is ', 28%6)
print('The number of additional eggs are needed to fill this last box is ', 6-(28%6))
print('The number of the number of boxes a farmer needs to store 28 eggs is ', (28//6) + 1)

The number of eggs are placed in the last uncompleted box is  4
The number of additional eggs are needed to fill this last box is  2
The number of the number of boxes a farmer needs to store 28 eggs is  5

## Task 5:

In [121]:
a =int(input('Enter a number: '))

if (a%2)==0:
     print('Even')
else:
    print('Odd')

Enter a number: 6
Even

## Task 6:

In [122]:
n = [0,5,10,15]
a = len(n)
print('Hour\t Number of bacteria')
for i in range(a):
    print(n[i],'\t', 200*(2**n[i]))

Hour	 Number of bacteria
0 	 200
5 	 6400
10 	 204800
15 	 6553600

## Task 7:

In [123]:
n = [0,5,10,15]
a = len(n)
print('Hour\t Number of bacteria')
for i in range(a):
    B = str(200*(2**n[i]))
    n[i] = str(n[i])
    print(n[i].rjust(4),'\t', B.rjust(18))

Hour	 Number of bacteria
   0 	                200
   5 	               6400
  10 	             204800
  15 	            6553600

## Task 8:

In [124]:
a = ord('T') + ord('o') + ord('m')
b = ord('J') + ord('i') + ord('m')
if a > b:
    print('Tim goes first')
else:
    print('Jim goes first')

Tim goes first

## Task 9:

In [125]:
a = int(input('the grades of 1st course: '))
b = int(input('the grades of 2nd course: '))
c = int(input('the grades of 3rd course: '))
total = 0
grade_coun = 0

grades = [a,b,c]

for i in grades:
    total += i
    grade_coun += 1
average = total/ grade_coun

print('3 course average is', average)
x = input('the name of 1st course: ')
y = input('the name of 2nd course: ')
z = input('the name of 3rd course: ')

names = [x,y,z]

dic = {}
for i in range(0,len(names)):
  dic[names[i]] = grades[i]

max_grade = max(dic.values())
max_course = max(dic, key=dic.get)
min_grade = min(dic.values())
min_course = min(dic, key=dic.get)

print(f"The highest grades and its course name is {max_course} with {max_grade}")
print(f"The lowest grades and its course name is {min_course} with {min_grade}")

the grades of 1st course: 7
the grades of 2nd course: 6
the grades of 3rd course: 8
3 course average is 7.0
the name of 1st course: M
the name of 2nd course: S
the name of 3rd course: T
The highest grades and its course name is T with 8
The lowest grades and its course name is S with 6

## Task 10:

In [117]:
def convert(seconds):
    seconds = seconds % (24 * 3600)
    hour = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
     
    return "%d:%02d:%02d" % (hour, minutes, seconds)

n = 12345
print(convert(n))

3:25:45

## Task 11:

In [118]:
o= 10 

w1 = o*(1+0.03)**5
print("The hourly wage after 5 years of consistent good reviews is " + str(w1))
w2=  o*(1-0.03)**2
print("The hourly wage after 2 years of consistent bad reviews is " + str(w2))

The hourly wage after 5 years of consistent good reviews is 11.592740743
The hourly wage after 2 years of consistent bad reviews is 9.408999999999999

## Task 12:

In [126]:
user_age = int(input("Please enter your age"))
resting_HR= int(input("Please enter your resting heart rate"))

max_HR= 220 - user_age

diff= max_HR - resting_HR
total= diff + resting_HR

low= total * 0.5

high= total * 0.85
print("The range of your target heart rate is "+str(low)+" to "+str(high))
print("Your maximum heart rate is "+ str(max_HR))

Please enter your age19
Please enter your resting heart rate110
The range of your target heart rate is 100.5 to 170.85
Your maximum heart rate is 201

## Task 13:

In [2]:
a=float(input("Enter the time of the first runner "))
b=float(input("Enter the time of the second runner "))
c= float(input("Enter the time of the third runner "))

a= round(a,3)
b= round(b,3)
c=round(c,3)

if a<=b<=c:
    print("The time in increasing order is")
    print(a,b,c)
elif a<=c<=a:
    print("The time in increasing order is")
    print(a,c,b)
elif b<=a<=c:
    print("The time in increasing order is")
    print(b,a,c)
elif b<=c<=a:
    print("The time in increasing order is")
    print(b,c,a)
elif c<=a<=b:
    print("The time in increasing order is")
    print(c,a,b)
elif c<=b<=a:
    print("The time in increasing order is")
    print(c,b,a)

Enter the time of the first runner 35.5
Enter the time of the second runner 35.01
Enter the time of the third runner 36.1
The time in increasing order is
35.01 35.5 36.1

## Task 14:

In [3]:
a=float(input("Enter the time of the first runner "))
b=float(input("Enter the time of the second runner "))
c= float(input("Enter the time of the third runner "))

a= round(a,3)
b= round(b,3)
c=round(c,3)

if a<=b<=c:
    print("The time in increasing order is")
    print(a,b,c)
elif a<=c<=a:
    print("The time in increasing order is")
    print(a,c,b)
elif b<=a<=c:
    print("The time in increasing order is")
    print(b,a,c)
elif b<=c<=a:
    print("The time in increasing order is")
    print(b,c,a)
elif c<=a<=b:
    print("The time in increasing order is")
    print(c,a,b)
else:
    print("The time in increasing order is")
    print(c,b,a)

Enter the time of the first runner 35.6
Enter the time of the second runner 36.1
Enter the time of the third runner 35.05
The time in increasing order is
35.05 35.6 36.1