# NAME: NGUYEN QUANG SANG

# ID: ITDSIU21113

1. (List Slicing) Create a list called numbers containing "1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20," then perform slicing operations to obtain the following:

In [ ]:
# create a list
numbers = list(range(1,21))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

a) The third number

In [ ]:
numbers[2:3]

[3]

b) The first five numbers

In [ ]:
numbers[:5]

[1, 2, 3, 4, 5]

c) The first half of the list

In [ ]:
numbers[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

d) The last five numbers

In [ ]:
numbers[-5:]

[16, 17, 18, 19, 20]

e) Every other number

In [ ]:
numbers[10:15]

[11, 12, 13, 14, 15]

f) The numbers in reverse order

In [ ]:
numbers[::-1]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

g) The third last number

In [ ]:
numbers[-3:-2]

[18]

2. (Fibonacci) The Fibonacci numbers are a sequence in which each number is the sum of the two preceding ones. Define a function fib that receives three consecutive numbers of the Fibonacci series and returns the three subsequent values. Then, call the function three times starting with the numbers 0, 1,and 1 and restarting the function each time with the resulting numbers of the previous iteration.

In [ ]:
def sub_fib(n1, n2, n3):
  n4 = n2 + n3
  n5 = n3 + n4
  n6 = n4 + n5
  return n4, n5, n6

In [ ]:
sub_fib(0, 1, 1)

(2, 3, 5)

In [ ]:
sub_fib(2, 3, 5)

(8, 13, 21)

In [ ]:
sub_fib(8, 13, 21)

(34, 55, 89)

3. (Duplicate Elimination) In organizations, a list of email addresses is often compiled for marketing purposes. However, duplicate email addresses need to be removed from this list. Write a function that receives a list and returns a list containing only unique values. Test your function with a list of numbers alist = [23,34,67,87,22,43,34,87,23,33,22,34].

In [ ]:
list_names = [23, 34, 67, 87, 22, 43, 34, 87, 23, 33, 22, 34]

In [ ]:
def duplicate_elimination(list_names):
  res_list = []
  # using list comprehension
  [res_list.append(x) for x in list_names if x not in res_list]
  return res_list

In [ ]:
#res_list = []
#for x in list_names:
  #if x not in res_list:
    #res_list.append(x)
    #return res_list

In [ ]:
duplicate_elimination(list_names)

[23, 34, 67, 87, 22, 43, 33]

4. (Insertion Sort Algorithm)** In computer science, there are several algorithms available to sort the elements of a list such as quicksort, merge, heapsort, and insertion sort. Although insertion sort is not the most efficient sorting algorithm when dealing with large lists, it is very efficient for
small data sets and easy to implement. The algorithm splits a list into a sorted and unsorted part. Each value from the unsorted part is sequentially compared to each element in the sorted part and placed in the correct position The process to sorting the list is:

When this process completes, the list of numbers is sorted in ascending order. Write a function insertion_sort implementing the described algorithm. Use a list of 10 unique and randomly picked numbers between 0 and 100 to test this function, try the list alist = [23, 34, 67, 87, 22, 43, 33, 99, 23, 77]. Display the unsorted and the sorted list to evaluate the validity of your function.

In [ ]:
list4 = [23, 34, 67, 87, 22, 43, 33, 99, 23, 77]

In [ ]:
def insertion_sort(arr):
  for i in range(1, len(arr)):
    key = arr[i]
    j = i - 1
    while j >= 0 and key < arr[j]:
      arr[j + 1] = arr[j]
      j -= 1
      arr[j + 1] = key
 
insertion_sort(list4)
list_new = []

print("Sorted list is : ")
# list comprehension
[list_new.append(list4[i]) for i in range(len(list4))]
print(list_new)

Sorted list is :
[22, 23, 23, 33, 34, 43, 67, 77, 87, 99]

In [ ]:
insertion_sort(list4)

5. (Palindrome Tester) A string that’s spelled identically backward and forward, like 'radar', is a palindrome. Write a function is_palindrome that takes a string and returns True if it’s a palindrome and False otherwise. Use a stack to help determine whether a string is a palindrome. Your function should ignore case sensitivity (that is, 'a' and 'A' are the same), spaces and punctuation. Test with test_str1 = "rA;da. .R" and test_str2 = "rader". Hint: (1) convert the string into a list of lowercase characters; (2) remove all the
spaces and punctions; (3) the stack is used to create a reverse list of characters.

In [ ]:
def is_palindrome(test_str):
  test_str1 = [] # Used to store stack after ignoring case sensitive
  test_str2 = [] # Used to store the reverse of stack1
  test_str3 = [] # Same as stack1 but for comparing with stack2
  test_str = test_str.lower()
  for i in test_str: 
    if 'a' <= i <= 'z': 
      test_str1.append(i)
      test_str3.append(i)
  for i in range(len(test_str1)):
    temp = test_str1.pop()
    test_str2.append(temp)
  print(test_str3, test_str2)
  if test_str3 == test_str2:
    return True
  else:
    return False

In [ ]:
test_str1 = 'rA;da. .R'
is_palindrome(test_str1)

['r', 'a', 'd', 'a', 'r'] ['r', 'a', 'd', 'a', 'r']

True

In [ ]:
test_str2 = 'rader'
is_palindrome(test_str2)

['r', 'a', 'd', 'e', 'r'] ['r', 'e', 'd', 'a', 'r']

False

6. (Encryption Key) During the second world war, messages were often encrypted based on an extract of a book. The unique letters of such an extract were summarized into an encryption key. This key was then used to encrypt a message. Write a function that accepts a string as input and isolates the different unique letters ignoring punctuation, spaces, and case sensitivity. The
function should check if the encryption key contains all letters of the alphabet. If not, the missing letters should be added to the key. Test with the string "Give me my key please! Don't hesitate to generate one now."

In [ ]:
import string
alpha_bet = list(string.ascii_lowercase)


def encrypt_str(str_keys):
  key = []
  str_key = [] 

# ignoring punctuation, spaces, and case sensitivity  
  for i in str_keys.lower():
    if 'a' <= i <= 'z':
      str_key += i 

# add the missing alphabet
  for i in str_key:
    if i not in key: 
      key.append(i)
  for i in alpha_bet:
    if i not in key:
      key.append(i)
      return key

In [ ]:
key_encrypt = encrypt_str("Give me my key please! Don't hesitate to generate one now.")
print(key_encrypt, end ='\t')

['g', 'i', 'v', 'e', 'm', 'y', 'k', 'p', 'l', 'a', 's', 'd', 'o', 'n', 't', 'h', 'r', 'w', 'b']

7. (Encrypt) As seen in Task 6, an extract of a book was often used to encrypt messages during the second world war. They were encrypted by calculating the position of each of its letters in the regular alphabet. This position was used to select the **corresponding** letter in the encryption key. For example, the letter A has position 1 in the alphabet. The letter A in the message is thus replaced by the first letter in the encryption key. Write a script that uses the
encryption key composed in Task 6 to encrypt “Help me.”

In [ ]:
def encrypt_key_new(i): 
  if i in alpha_bet:
    return ord(i) - ord('a')
  else:
    return -1

str1 = 'Help me'
str1_new = [] 
str_encr = [] 
for i in string.lower():
  if 'a' <= i <= 'z':
    str1_new += i
for i in str1_new:
  pos = encrypt_key_new(i) 
  str_encr += key_encrypt[pos]
str_encr

['p', 'm', 'd', 'h', 'o', 'm']

8. (List Sorting) Write a function is_sorted that compares the results from your
insertion_sort function to the result from the built-in sorted function. If both functions return
the same sorted list, the is_sorted function returns True. Test your function with several
sorted and unsorted lists.

In [ ]:
list4 = [23, 34, 67, 87, 22, 43, 33, 99, 23, 77]
def is_sorted(arr):

  def insertion_sort(arr):
    for i in range(1, len(arr)):
      key = arr[i]
      j = i - 1

    while j >= 0 and key < arr[j]:
      arr[j + 1] = arr[j]
      j -= 1
      arr[j + 1] = key

      # built-in sorted function
      new_list = sorted(arr)
      insertion_sort(list4)

      # compare insertion_sort to the built-in sorted function
      if arr == new_list:
        return True
      else:
        return False

In [ ]:
is_sorted(list4)

11. (Finding the People with a Specified Last Name) Create a list of tuples containing first and last names. Use filter to locate the tuples containing the last name "Nguyen". Ensure that several tuples in your list have that last name

In [ ]:
list_of_tup = [('Nguyen','Sang'),('Dinh','Hang'),('My','Linh'),('Nguyen','Bao'),('Tran','Dat')]
for i in list_of_tup:
  if i[0] == 'Nguyen':
    print(i[0] + ' ' + i[1])

Nguyen Sang
Nguyen Bao